button { background: blue; color: white; margin: 5px; width: 10%; height:10%; }

#dial_line { fone-size:large; text-align:left; width: 35%; }

/* make the button with ID "button_add_clear" red */
#button_add_clear { background: red; }

/*make clear button red*/
#button_clear { background: red; color:white;}

#button_dial { background: green; }

#button_add { background: green; }

.tab { background: orange; color:blue; }
